@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
}
@font-face {
    font-family: 'DisplayBold';
    src: url('/assets/SFProDisplay-Bold.ttf');
}
@font-face {
    font-family: 'Textmedium';
    src: url('/assets/SFProText-Medium.ttf');
}
.player{
    height: 95vh;
    margin-top: 6%;
    /* position: fixed; */
    /* z-index: -12; */
}
.title{
    z-index: 1;
    /* font-family: "DisplayBold"; */
    font-family: "Inter",sans-serif;
    font-size: 14rem;
    font-weight: 800;
    margin-top: 16vh;
    color: white;   
    position: absolute;
}

.hey{
    background-color: rgba(103, 95, 95, 0.395);
}
.signup input{
    border: 1px solid rgb(178, 178, 178);
    padding-left: 8px;
}
::placeholder{
    font-family: "Inter",sans-serif;
    color: rgb(206, 204, 204) ;
    /* padding: */
}
.course-card {
    position: relative;
    overflow: hidden;
  }
  
  .course-card .img-container {
    position: relative;
  }
  
  .course-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .course-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: 'Inter',sans-serif;
    font-weight:700;
  }
  
  .course-card:hover .overlay {
    opacity: 1;
  }
  .bio{
    background-color: rgb(235, 233, 233);
  }
  .popup, .dash{
    background-color: rgb(207, 207, 207);
  }
  label{
    color: white;
  }
  .category-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    margin-top: 5vh;
  }
  
  .category-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .category-button{
    border: 0.5px solid black;
    margin: 2vw;
    padding: 2vh 3vw;
    border-radius: 10px;
    
  }
  html {
    font-size: 16px; /* Default root font size */
}

@media (max-width: 1200px) {
    html {
        font-size: 15px; /* Smaller root font size for smaller screens */
    }
}

@media (max-width: 900px) {
    html {
        font-size: 14px; /* Smaller root font size for even smaller screens */
    }
}

@media (max-width: 600px) {
    html {
        font-size: 13px; /* Smallest root font size for mobile devices */
    }
}
.certificate {
  width: 800px;
  height: 600px;
  padding: 20px;
  text-align: center;
  border: 10px solid #ddd;
  margin: auto;
  font-family: 'Arial, sans-serif';
  position: relative;
}

.certificate h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.certificate h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

.certificate h3 {
  font-size: 1.2em;
  margin: 1em 0;
}

.certificate h4 {
  font-size: 1em;
  margin: 1em 0;
}